bknd/order-service/src/main/resources/wsdl/shippingCharge.wsdl

<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://yash.com/ecom/shippingCharge"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://yash.com/ecom/shippingCharge"
	targetNamespace="http://yash.com/ecom/shippingCharge">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="http://yash.com/ecom/shippingCharge">
			<xs:element name="getShippingCharge">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getShippingChargeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="shippingCharge"
							type="tns:shippingCharge" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="shippingCharge">
				<xs:sequence>
					<xs:element name="state" type="xs:string" />
					<xs:element name="charge" type="xs:double" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getShippingChargeResponse">
		<wsdl:part element="tns:getShippingChargeResponse"
			name="getShippingChargeResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ShippingChargeServicePort">
		<wsdl:operation name="getShippingCharge">
			<wsdl:output message="tns:getShippingChargeResponse"
				name="getShippingChargeResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ShippingChargeServicePortSoap11"
		type="tns:ShippingChargeServicePort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getShippingCharge">
			<soap:operation soapAction="" />
			<wsdl:output name="getShippingChargeResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ShippingChargeServicePortService">
		<wsdl:port binding="tns:ShippingChargeServicePortSoap11"
			name="ShippingChargeServicePortSoap11">
			<soap:address location="http://localhost:8080/soapWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>